
body {
  font-size: 1.0rem;
  grid-template-columns: 1fr 90% 1fr;
}

label {
  display: inline;
}

select {
    background-image: none !important;
    appearance: auto;
}
.chart {
  width: 100%;
  height: 500px;
}
.ltc_amount {
  text-align: right;
}
.ltc_to_usd_amount {
  text-align: right;
}
