
body {
  font-size: 1.0rem;
  grid-template-columns: 1fr min(120ch,90%) 1fr;
}
label {
  display: inline;
}
select {
    background-image: none !important;
    appearance: auto;
}
.charts {
  grid-template-columns: 1fr min(120ch,90%) 1fr;
}
